.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 150px;
  text-align: center;
}

/* Fondo color gris de la pagina */
body {
  background-color: #dadada;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}